<div class="chapter" id="past-jobs" *ngIf="model | async as pastJobs">

  <div class="title">past jobs</div>
  <div class="section" *ngFor="let pastJob of pastJobs">
    <div class="title">
      <div class="left">company</div>
      <div class="right">{{ pastJob.company.name }}</div>
    </div>

    <ng-container *ngFor="let title of pastJob.titles">

      <div class="subtitle">
        <div class="left">title</div>
        <div class="right">{{ title.name }}</div>
      </div>
      <div class="content">
        <div class="left">sector</div>
        <div class="right">{{ title.sector }}</div>
      </div>
      <div class="content">
        <div class="left">time</div>
        <div class="right">{{ title.time }}</div>
      </div>
      <div class="content">
        <div class="left">tech</div>
        <div class="right">{{ title.tech }}</div>
      </div>
      <div class="content">
        <div class="left">roles</div>
        <div class="right">
          <ul>
            <li *ngFor="let role of title.roles">{{ role }}</li>
          </ul>
        </div>
      </div>

    </ng-container>

  </div>

</div>
