<div class="chapter" id="past-jobs" *ngIf="model | async as m">

  <div class="title">past jobs</div>
  <div class="section" *ngFor="let j of m">
    <div class="title">
      <div class="left">company</div>
      <div class="right">{{ j.company.name }}</div>
    </div>

    <ng-container *ngFor="let t of j.titles">

      <div class="subtitle">
        <div class="left">title</div>
        <div class="right">{{ t.name }}</div>
      </div>
      <div class="content">
        <div class="left">sector</div>
        <div class="right">{{ t.sector }}</div>
      </div>
      <div class="content">
        <div class="left">time</div>
        <div class="right">{{ t.time }}</div>
      </div>
      <div class="content">
        <div class="left">tech</div>
        <div class="right">{{ t.tech }}</div>
      </div>
      <div class="content">
        <div class="left">roles</div>
        <div class="right">
          <ul>
            <li *ngFor="let r of t.roles">{{ r }}</li>
          </ul>
        </div>
      </div>

    </ng-container>

  </div>

</div>
