<div class="article" id="past-jobs" *ngIf="model | async as pastJobs">
  <app-title value="past jobs"></app-title>
  <div class="chapter" *ngFor="let pastJob of pastJobs">
    <app-title [value]="pastJob.company.name"></app-title>
    <div class="section" *ngFor="let title of pastJob.titles">
      <app-title [value]="title.name"></app-title>
      <app-content [value]="title.time"></app-content>
      <app-content [value]="title.roles" [asBullets]="true"></app-content>
    </div>
  </div>
</div>
