<div class="header">
  <div class="left">
    <div class="name">Grzegorz Kozub</div>
    <div class="title">Senior Software Engineer</div>
    <div class="kaizen">改善</div>
  </div>
  <div class="right">
    <div>Warsaw, Poland</div>
    <div>(+48) 697 336 338</div>
    <div>
      <a href="mailto:grzegorz.kozub@gmail.com">
        grzegorz.kozub@gmail.com
      </a>
    </div>
    <div>
      <a href="http://www.linkedin.com/in/grzegorzkozub">
        http://www.linkedin.com/in/grzegorzkozub
      </a>
    </div>
  </div>
  <div class="headline">
    Arch, Dev and Ops by passion for technology. Always learning, keen on Microservices Architecture and Domain-Driven Design, aims to become a tech full-stack and a programming polyglot. Tech Lead and Team Lead by passion for people. Encourages teams to embrace the DevOps culture and work together according to Lean Principles.
  </div>
</div>
