<div class="header" id="header" *ngIf="model | async as header">

  <div class="left">
    <div class="name">{{ header.name }}</div>
    <div class="title">{{ header.title }}</div>
    <div class="kaizen">{{ header.kaizen }}</div>
  </div>
  <div class="right">
    <div>{{ header.location }}</div>
    <div>{{ header.phone }}</div>
    <div>
      <a href="mailto:{{ header.email }}">{{ header.email }}</a>
    </div>
    <div>
      <a href="{{ header.web }}">{{ header.web }}</a>
    </div>
  </div>
  <div class="headline">{{ header.headline }}</div>

</div>
