<div class="article" id="recent-job" *ngIf="model | async as recentJob">
  <app-title value="recent job"></app-title>
  <div class="chapter">
    <app-title [value]="recentJob.company.name"></app-title>
    <app-content [value]="recentJob.company.sector"></app-content>
    <app-content [value]="recentJob.company.profile"></app-content>
    <div class="section" *ngFor="let title of recentJob.titles">
      <app-title [value]="title.name"></app-title>
      <app-content [value]="title.time"></app-content>
      <app-content [value]="title.tech"></app-content>
      <app-content [value]="title.roles" [asParagraphs]="true"></app-content>
    </div>
  </div>
</div>
